<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/resources/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200&family=Oxygen:wght@300&family=Roboto:ital,wght@1,900&family=Rubik:wght@700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="login-form">
        <h1>Login con Node JS</h1>
        <form action="/auth" method="post">
            <input type="text" name="user" id="user" placeholder="User" >
            <input type="password" name="pass" id="pass" placeholder="Password" >
            <input type="submit" class="btn-login" value="Login">
        </form>
        <a href="register" class="btn-register"> Register</a>
    </div>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <%if(typeof alert !="undefined"){ %>
        <script>
            Swal.fire({
                title: '<%= alertTitle %>',
                text: '<%= alertMessage%>',
                icon: '<%= alertIcon %>',
                showConfirmButton: <%=showConfirmButton%>,
                timer: <%= timer%>
            }).then( ()=>{
                window.location=' /<%= ruta %>'
            })
        </script>
        <% } %>
</body>
</html>